extends layout

block content
  .alt-container
    img(src="/img/twitterlogo.png")
    h1 Tweetlerin ne hissediyor öğren!
    if error
      div.error #{error}
    .username
      .input-group
        input(type="text", placeholder="Twitter kullanıcı adın")
        span.input-group-button
          button.btn.btn-primary
            span.octicon Devam Et!

    div.footer
      .container
        div.margin
          a(href="http://mert-kahyaoglu.com/") © 2015 · Mert Kahyaoğlu
