extends layout

block content
    .alt-container
      .username
        .input-group
          input(type="text", placeholder="Twitter kullanıcı adın")
          span.input-group-button
            button.btn
              span.octicon Git
