doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/css/primer.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://code.highcharts.com/highcharts.js')
    title Twitter Duygu Analizi
  body
    .blankslate.capped
      a(href="/")
        h1 Twitter Duygu Analizi
      p Tweetlerin ne hissediyor öğren!
    .container
      block content
    script(src='/js/form.js')
